<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading" >Logs</div>
      <div class="list-group">
        <div class="list-group-item clearfix">
			<div class="col-lg-7">
		        <strong>Message</strong>
			</div>		
			<div class="col-lg-2">
		        <strong>Date</strong>
			 </div>
			 <div class="col-lg-2">
		        <strong>Time</strong>
			 </div>
        </div>
        <div ng-show="opctrl.logMessages.length === 0" class="text-center" style="margin: 50px 0;">
	        <h5 class="text-muted"><span class="glyphicon glyphicon-exclamation-sign"></span> No Logs</h5>
         </div>
        <div class="list-group-item clearfix" ng-repeat="logMessage in opctrl.logMessages">
			<div class="col-lg-7">
				<p style="margin: 0">{{logMessage.message}}</p>
		        <h6 style="color: #888; margin: 0;">({{logMessage.url}})</h6> 
			 </div>
			 <div class="col-lg-2">
			   {{logMessage.date}}
			 </div>
			 <div class="col-lg-2">
			   {{logMessage.time}}
			 </div>
			<div class="col-lg-1 ">
			  	<button class="btn btn-warning pull-right" ng-click="opctrl.removeLogMessage($index)">
				      <span class="glyphicon glyphicon-trash"></span>
			    </button>
		    </div>
        </div>
      </div>
    </div>
  </div>
</div>
